# Node.js dependencies
node_modules/

# Build output
dist/

# Optional npm cache directory
.npm/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript cache
*.tsbuildinfo

.vscode/

.DS_Store

.env
.env.*

instruction.md